[submodule "libraries/rc-switch"]
	path = libraries/rc-switch
	url = https://github.com/sui77/rc-switch.git
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "hardware/esp8266/esp8266"]
	path = hardware/esp8266/esp8266
	url = https://github.com/Monarch73/Arduino.git
[submodule "libraries/irremote"]
	path = libraries/irremote
	url = https://github.com/markszabo/IRremoteESP8266.git
